@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
    49.57% 98.02% at 49.57% 50.37%,
    #e5faff 21.15%,
    #98bac6 100%
  );
}

.nav-items {
  font-family: JosefinSlab-Regular;
  font-weight: 800;
  font-size: 32px;
  color: #123d6d;
}

.getCont {
  display: flex;
  align-items: center;
  margin: auto;
}

.cont-lead {
  font-size: 85px;
  color: #184162;
  font-family: QuattrocentoSans-bold;
  font-weight: 400;
  line-height: 94.27px;
}

.hamburger-react {
  color:  #123D6D
}

.headphoneImg {
  width: 714px;
  height: 714px;
  flex: 2;
}

.cont-text {
  font-size: 28px;
  font-family: Poppins;
  color: #124473;
  font-weight: 400;
  line-height: 42.04px;
}

.btngroup {
  display: flex;
  gap: 20px;
  align-items: center;
}

.buy {
  width: 171px;
  height: 51px;
  top: 715px;
  left: 105px; 
  border-radius: 37px;
  color: #fff;
  background: #0f4382;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.explore {
  width: 171px;
  height: 51px;
  top: 715px;
  left: 286px;
  gap: 0px;
  border-radius: 37px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #0f4382;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: #0f4382;
}
